@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSansEmoji.ttf);
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	opacity: 0;
	background-color: #201c2b;
	overflow: hidden;
	font-family: OpenSans, sans-serif, arial;
	font-size: 3.0vh;
	color: #ffffff;
	line-height: 1em;
}
body.init {
	opacity: 1;
}

.clear {
	clear: both;
}

.text-center {
	text-align: center;
}

.danger {
	color: #fc3636;
}

.success {
    color: #14b866;
}

.clear {
	clear: both;
}

.column {
	display: inline-table;
	margin: 3vh 0 0 0;
	line-height: 0;
}
.column.text {
	line-height: 1.2;
}

.column:first-child {
	margin-left: 2vh;
}

.column:last-child {
	margin-right: 2vh;
}

.cell {
	position: relative;
}

.cell > i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -3.0vh 0 0 -3.85714287vh;
	line-height: 1em;
	font-size: 6vh;
}

.channel-cell > i {
    position: absolute;
    top: 4.865vh;
    left: 4vh;
    margin: 0;
}

.cell img {
	position: relative;
	height: 25.8vh;
	width: 45.866667vh;
	opacity: 0;
}

.game-cell img {
	height: 39.4vh;
	width: 28.2vh;
}

.channel-cell {
	background-color: #201c2b;
	box-shadow: #392e5c 0 1px 0px 0px inset;
}
.channel-cell:first-child {
    box-shadow: inherit;
}

.channel-cell .checkbox {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1vh;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1;
}

.channel-cell img {
	float: left;
    height: 15.73vh;
    width: 15.73vh;
}

.channel-info {
	float: left;
	line-height: 1.3;
	padding: 1vh 0;
}
.channel-select-box .channel-info {
	margin-left: 15.73vh;
}

.channel-name {
	padding: 0 1vh;
    color: #bbb8c0;
}
.active.channel-cell .channel-name {
    color: #6441a4;
}
.selected.channel-cell .channel-name {
    opacity: 0;
}
.channel-cell .channel-counter {
	opacity: 0;
}

.channel-counter {
	padding: 0 1vh;
}

.game-cell .game-name {
    padding: 1.0vh;
    background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
    top: 0;
    left: 0;
    max-width: 28.2vh;
    line-height: 1.3em;
    overflow-x: hidden;
}

.game-select-box .game-name {
    color: #ffffff;
    max-width: 28.2vh;
}

.channel-select-box .channel-name {
    color: #ffffff;
}

img.loaded {
	opacity: 1;
}

.stream-viewers {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1.0vh;
	line-height: 1.3;
}

.stream-channel-name {
	color: #bbb8c0;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
    line-height: 1em;
	padding: 1.0vh;
	line-height: 1.3;
}
.cell.selected .stream-channel-name,
.cell.selected .stream-info,
.cell.selected .game-name {
	display: none;
}

.select-box .stream-channel-name {
	color: #ffffff;
	max-width: 27vh;
}

.stream-info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1.0vh;
	line-height: 1.3em;
}

.game-name {
	color: #bbb8c0;
}

.game-info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 1.0vh 0;
	line-height: 1.3em;
}

.game-info > div {
	padding: 0 1.0vh;
}

.channel-status {
	font-size: 2.6vh;
}
.cell .channel-status {
	color: #bbb8c0;
}

.ellipsed {
	overflow: hidden;
	text-overflow: ellipsis;
}

.line {
	border: none;
	background-color: #392e5c;
	height: 0.2vh;
	margin: 0 2.0vh;
}

.line-selected {
	border: none;
	background-color: #6441a4;
	height: 0.2vh;
	margin: -0.2vh 2.0vh 0;
	width: 20.185316vh;
}

.header {
	line-height: 0;
	white-space: nowrap;
}

.logo {
	padding: 2.0vh;
	float: left;
}

.logo img {
	height: 12.4vh;
}

.controls {
	float: left;
}

.filters {
	margin: 0 0 2.0vh 2.0vh;
	font-size: 2.6vh;
	color: #9993a5;
}

.filter {
	display: inline-block;
	padding: 1.0vh 1.4vh;
	margin-right: 1.0vh;
	box-shadow: #392e5c 0 0 0 2px inset;
	max-width: 20vh;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.filter.selected {
	box-shadow: inherit;
}

.chosen {
	color: #ffffff;
	box-shadow: #6441a4 0 0 0 2px inset;
}
.unused {
    color: rgba(255, 255, 255, 0.15);
    box-shadow: rgba(255, 255, 255, 0.15) 0 0 0 2px inset;
}

.filter-divider {
    display: inline-block;
    padding: 1.0vh 0;
	margin-right: 1.0vh;
	line-height: 1;
    overflow: hidden;
}

.pages {
	font-size: 3.4vh;
	white-space: nowrap;
	list-style: none;
	margin: 2.0vh;
	padding: 0;
}

.hints {
	position: absolute;
	top: 0;
	right: 0;
	margin: 2vh 2vh 0 0;
	font-size: 2.4vh;
	color: #9993a5;
	z-index: -1;
}

.hint {
	margin-bottom: 0.4vh;
}

.page-caption {
    display: inline-block;
    margin-right: 2.0vh;
    position: relative;
    padding: 1.3vh 0 1.2vh;
    color: #9993a5;
}

.page {
	display: inline-block;
    margin-right: 2.0vh;
	position: relative;
	padding: 1.3vh 2.0vh 1.2vh;
	box-shadow: #392e5c 0 0 0 2px inset;
	/* background-color: #433f4a; */
	color: #9993a5;
	line-height: 2.8vh;
}
.page:last-child {
    margin-right: 0;
}
.page.active {
	background-color: #6441a4;
	box-shadow: inherit;
	color: #ffffff;
}
.page.active .bottom-triangle {
	display: block;
}
.page.selected {
	box-shadow: inherit;
	color: #ffffff;
}

.bottom-triangle {
	position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: -1.4vh;
    margin-left: -0.6vh;
    width: 0;
    height: 0;
    border-top: 1.2vh solid #ffffff;
    border-left: 1.2vh solid transparent;
    border-right: 1.2vh solid transparent;
    display: none;
}
.bottom-triangle:after {
	content: '';
    position: absolute;
    top: -1.4vh;
    left: -0.8vh;
    width: 0;
    height: 0;
    border-top: 0.8vh solid #6441a4;
    border-left: 0.8vh solid transparent;
    border-right: 0.8vh solid transparent;
}

.badge {
	display: inline-block;
    width: 1.475em;
    padding: 0.2vh 0;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #777;
    border-radius: 0.5vh;
}
.badge-A {
	background-color: #d9534f;
}
.badge-B {
	background-color: #5cb85c;
}
.badge-C {
	background-color: #f0ad4e;
}
.badge-D {
	background-color: #337ab7;
}

.items {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.loading-wrapper {
	position: absolute;
	top: 50vh;
	width: 100vw;
	margin-top: -6.2vh;
	text-align: center;
	z-index: 1000;
}

.loading {
	display: inline-block;
	padding: 2vh;
}

.loading-wrapper .text {
	font-size: 3.6vh;
	margin-top: 2.0vh;
}

.dialog-wrapper {
	display: none;
	font-size: 3.0vh;
	line-height: 1.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
}

.select-wrapper {
    display: none;
    font-size: 3.0vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
}
.select-language-wrapper, 
.select-quality-wrapper,
.select-types-wrapper {
	z-index: 1100;
}

.select-wrapper .caption {
	font-size: 3.4vh;
	padding: 2vh 1vh;
	line-height: 1.3;
}
.select-wrapper .selected-game {
    display: inline-block;
    padding: 1vh;
    color: #9993a5;
}
.select-wrapper .selected-game.selected {
	color: #ffffff;
}

.select-wrapper .caption > .text {
    padding: 1vh;
    display: inline-block;
}

.select-wrapper .search-input {
    border: none;
    background-color: #201c2b;
    box-shadow: #392e5c 0 0 0 2px inset;
	font-size: 2.6vh;
    padding: 1.0vh 2.0vh;
    margin-left: 2.0vh;
    width: 80vw;
    color: #ffffff;
}
.select-wrapper .search-input.selected {
    box-shadow: inherit;
}

.dialog-wrapper .content {
    position: absolute;
    top: 50vh;
    width: 100vw;
    margin-top: -11.0vh;
    text-align: center;
    background-color: #201c2b;
    padding: 4vh 20vw;
    overflow: hidden;
}

.dialog-wrapper .text {
    padding: 2vh 0;
    line-height: 1.2;
    word-break: break-all; 
}

.dialog-buttons {
	margin-top: 2.0vh;
}

.dialog-button {
	display: inline-block;
    margin-right: 2.0vh;
    position: relative;
    padding: 0.3vh 1.5vh;
    background-color: #6441a4;
    color: #b9b3c5;
}
.dialog-button.selected {
	color: #ffffff;
}
.dialog-button:last-child {
	margin-right: 0;
}

.select-box {
	display: none;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 45.867vh;
	height: 25.8vh;
	z-index: 5;
}
.select-box.selected {
	display: block;
}

.filter-list {
	display: inline-block;
	text-align: left;
}

.filter-list-item {
	padding: 1vh;
	white-space: nowrap;
	color: #bbb8c0;
}
.filter-list-item.active {
    color: #6441a4;
}
.filter-list-item.selected {
    color: #ffffff;
}

.filter-list-item input {
	float: left;
    height: 2vh;
    width: 2vh;
    margin-top: 0.5vh;
}

.filter-list-item .text {
	padding-left: 3vh;
}

.player {
	display: none;
	background-color: #000000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.player .chat {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 44vh;
	height: 100vh;
	background-color: #efeef1;
	overflow-x: hidden;
	overflow-y: auto;
	color: #19171c;
	padding: 8.0vh 1.0vh 0;
	font-size: 1.4vh;
}

.chat-emote {
	max-height: 2em;
	margin: 0 0 -0.5em;
}

.player .chat-controls {
	width: 44vh;
	background-color: #efeef1;
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.6vh 1.0vh 0;
}

.player .chat-controls .line {
	margin: 0.6vh -1.0vh 0;
	background-color: #b9b3c5;
}

.player .chat-controls-bottom {
	display: none;
	color: #ffffff;
	text-align: center;
    width: 44vh;
    background-color: rgba(100, 65, 164, 0.7);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.6vh 1.0vh;
}

.player .chat-loading {
    text-align: center;
    margin-top: 1vh;
    display: none;
}

.player .chat-content {
    font-size: 1.4vh;
}

.player object {
    width: 100vw;
    height: 100vh;
}

.player-progress {
	position: relative;
	margin-top: 3vh;
	height: 1vh;
}

.progress {
    height: 0.5vh;
    overflow: hidden;
    background-color: #f5f5f5;
}

.progress-bar {
    position: absolute;
    width: 0;
    height: 0.5vh;
    background-color: #6441a4;
}

.progress-select {
	display: none;
	background-color: #392e5c;
}

.progress-slider {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border-radius: 50%;
	width: 3vh;
	height: 3vh;
	top: -1vh;
	margin-left: -1.5vh;
}

.player-progress.selected {
    outline: none;
}

.player-progress.selected .progress-slider,
.player-progress.selected .progress-select  {
    display: block;
}

.player-progress.selected .progress,
.player-progress.selected .progress-bar {
    height: 1.0vh;
}

.player-info {
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    padding: 4vh;
    font-size: 3.4vh;
}

.player-info-container {
	margin-bottom: 8vh;
}

.player-stream-logo {
	float: left;
	width: 12vh;
	height: 12vh;
	margin-right: 2vh;
}

.player-stream-info {
	float: left;
	line-height: 1.3;
	max-width: 140vh;
}

.player-stream-status {
	font-size: 3.0vh;
}

.player-stream-game {
	color: #bbb8c0;
}

.player-stream-quality {
	margin-right: 1vh;
}

.player-controls {
	display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 4vh;
    text-align: center;
    font-size: 4.0vh;
}

.player-controls-container {
	margin-top: 8vh;
}

.player-control {
	display: inline-block;
	padding: 1vh;
	color: #bbb8c0;
	margin: 0 0.5vh;
}
.player-control.selected {
	color: #ffffff;
}

.player-control-time {
	color: #ffffff;
	position: absolute;
	left: 0;
	margin-left: 4vh;
}

.player-control-options {
	position: absolute;
	right: 0;
	white-space: nowrap;
	margin-right: 4vh;
	display: inline-block;
}

.spinner-three-bounce > div {
	width: 2.8vh;
	height: 2.8vh;
	background-color: #ffffff;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.chat-loading .spinner-three-bounce > div {
    width: 1.8vh;
    height: 1.8vh;
    background-color: #6441a4;
}

.spinner-three-bounce .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner-three-bounce .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.selected {
    outline: 3px solid #ffffff;
}
.cell.selected {
    outline: none;
}

.hidden {
    display: none;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.mCSB_horizontal.mCSB_inside > .mCSB_container {
	margin-bottom: 3.0vh;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	height: 3.0vh;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	height: 0.4vh;
	margin: 1.3vh 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	height: 0.6vh;
	margin: 1.2vh auto;
}

.popover-content {
	font-size: 3.0vh;
	color: #000000;
}