<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/Gesha87/TwitchTV" version="1.1.1" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="8m7wyPjHXD.TwitchTV" package="8m7wyPjHXD" required_version="2.3"/>
    <author href="https://my.mail.ru/mail/tizenapps/" email="tizenapps@mail.ru">Andrey Kulik</author>
    <content src="index.html"/>
    <description>Application for Twitch - social video platform and community for gamers.</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/tv.inputdevice"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <icon src="icon.png" height="117" width="117"/>
    <license href="https://www.apache.org/licenses/LICENSE-2.0">Apache License Version 2.0</license>
    <name>TwitchTV</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:profile name="tv-samsung-public"/>
    <tizen:setting pointing-device-support="disable" screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
